# Primary domain for this service. This will be added as bbblb-origin
# metadata to meetings and is used by e.g. the recording upload script
# to get back at bbblb from the BBB nodes.
# (REQUIRED; type: str)
#BBBLB_DOMAIN=

# Secret used to sign and verify API credentials and protected callbacks.
# This is NOT your BBB API secret.
# (REQUIRED; type: str)
#BBBLB_SECRET=

# An sqlalchemy compatible database connection string, starting with either
# `sqlite://` or `postgresql://`. For example `sqlite:////path/to/file.db`
# or `postgresql://user:pass@host/name`.
# (default: "sqlite:////usr/share/bbblb/sqlite.db"; type: str)
#BBBLB_DB=

# Create database if it does not exist on startup (postgres only).
# (default: True; type: bool)
#BBBLB_DB_CREATE=

# Run database schema migrations automatically on startup.
# (default: True; type: bool)
#BBBLB_DB_MIGRATE=

# The directory where BBBLB stores all its persistent data, including
# recordings, lockfiles, logs and more. Must be fully write-able for BBBLB
# and the `{PATH_DATA}/recordings` sub-directory must also be read-able by
# your front-end HTTP server, if used. See docs/recording.md for details.
# (default: Path("/usr/share/bbblb/"); type: Path)
#BBBLB_PATH_DATA=

# For each BBB API request, the value of this header is matched against the
# tenant realms to find the correct tenant. This defaults to the `Host`
# header, which means each tenant needs to use a different (sub-)domain to
# reach BBBLB.
# (default: "Host"; type: str)
#BBBLB_TENANT_HEADER=

# If true, meeting IDs are scoped with the tenant ID to avoid conflicts between
# tenants. API clients will still see the unmodified meeting ID, but the scoped
# ID may end up in recording metadata and logs.
# (default: True; type: bool)
#BBBLB_SCOPED_MEETING_IDS=

# Maximum number of import tasks to perform at the same timer. It is usually
# not a good idea to increase this too much.
# (default: 1; type: int)
#BBBLB_RECORDING_THREADS=

# Domain where recordings are hostet. The wildcards {DOMAIN} or {REALM}
# can be used to refer to the global DOMAIN config, or the realm of the
# current tenant.
# (default: "{DOMAIN}"; type: str)
#BBBLB_PLAYBACK_DOMAIN=

# Poll interval in seconds for the background server health and meeting checker
# (default: 30; type: int)
#BBBLB_POLL_INTERVAL=

# Number of poll errors after which a server is marked OFFLINE and all meetings on it are considered lost.
# (default: 3; type: int)
#BBBLB_POLL_FAIL=

# Number of successfull polls in a row before a server is considered ONLINE again.
# (default: 5; type: int)
#BBBLB_POLL_RECOVER=

# Expected base load per meeting.
# (default: 15.0; type: float)
#BBBLB_LOADFACTOR_MEETING=

# Expected additional load per user in a meeting
# (default: 1.0; type: float)
#BBBLB_LOADFACTOR_SIZE=

# Expected additional load per voice user
# (default: 0.5; type: float)
#BBBLB_LOADFACTOR_VOICE=

# Expected additional load per video user
# (default: 0.5; type: float)
#BBBLB_LOADFACTOR_VIDEO=

# Initial load penalty for new meetings.
# This value is used to predict the future load for new meetings and should
# match the load of a 'typical' meeting on your cluster. The penalty will
# slowly decrease over time until we can assume that the meeting won't
# suddenly grow anymore.
# The idea is to avoid the 'trampling herd' effect where multiple meetings
# are started in a short time and would otherwise end up on the same server.
# (default: 75.0; type: float)
#BBBLB_LOADFACTOR_INITIAL=

# Maximum number of meetings or recordings to return from APIs that
# potentially return an unlimited amount of data.
# (default: 1000; type: int)
#BBBLB_MAX_ITEMS=

# Maximum body size for BBB API requests, both front-end and back-end.
# This does not affect presentation uploads, so 1MB should be plenty.
# (default: 1024 * 1024; type: int)
#BBBLB_MAX_BODY=

# How often to retry webhooks if the target fails to respond.
# (default: 3; type: int)
#BBBLB_WEBHOOK_RETRY=

# Enable debug and SQL logs
# (default: False; type: bool)
#BBBLB_DEBUG=

