# Primary domain for this service. This will be added as bbblb-origin
# metadata to meetings and is used by e.g. the recording upload script
# to get back at bbblb from the BBB nodes.
# (REQUIRED; type: str)
#BBBLB_DOMAIN=

# Secret used to sign and verify API credentials and protected callbacks.
# This is NOT your BBB API secret.
# (REQUIRED; type: str)
#BBBLB_SECRET=

# An sqlalchemy compatible database connection string, starting with either
# `sqlite://` or `postgresql://`. For example `sqlite:////path/to/file.db`
# or `postgresql://user:pass@host/name`.
# (default: "sqlite:////usr/share/bbblb/sqlite.db"; type: str)
#BBBLB_DB=

# Create database if it does not exist on startup (postgres only).
# (default: True; type: bool)
#BBBLB_DB_CREATE=

# Run database schema migrations automatically on startup.
# (default: True; type: bool)
#BBBLB_DB_MIGRATE=

# The directory where BBBLB stores all its persistent data, including
# recordings, lockfiles, logs and more. Must be fully write-able for BBBLB
# and the `{PATH_DATA}/recordings` sub-directory must also be read-able by
# your front-end HTTP server, if used. See docs/recording.md for details.
# (default: Path("/usr/share/bbblb/"); type: Path)
#BBBLB_PATH_DATA=

# For each BBB API request, the value of this header is matched against the
# tenant realms to find the correct tenant. This defaults to the `Host`
# header, which means each tenant needs to use a different (sub-)domain to
# reach BBBLB.
# (default: "Host"; type: str)
#BBBLB_TENANT_HEADER=

# If true, meeting IDs are scoped with the tenant ID to avoid conflicts between
# tenants. API clients will still see the unmodified meeting ID, but the scoped
# ID may end up in recording metadata and logs.
# (default: True; type: bool)
#BBBLB_SCOPED_MEETING_IDS=

# Maximum number of import tasks to perform at the same timer. It is usually
# not a good idea to increase this too much.
# (default: 1; type: int)
#BBBLB_RECORDING_THREADS=

# Domain where recordings are hostet. The wildcards {DOMAIN} or {REALM}
# can be used to refer to the global DOMAIN config, or the realm of the
# current tenant.
# (default: "{DOMAIN}"; type: str)
#BBBLB_PLAYBACK_DOMAIN=

# Poll interval in seconds for the background server health and meeting checker
# (default: 30; type: int)
#BBBLB_POLL_INTERVAL=

# Number of failed create calls or health checks after which we give up on an
# UNSTABLE server and mark it as OFFLINE. All remaining meetings are dropped,
# so they can be re-created on another server.
# (default: 3; type: int)
#BBBLB_POLL_FAIL=

# Number of successfull health checks in a row after which an OFFLINE or UNSTABLE
# server is considered to be AVAILABLE again.
# (default: 5; type: int)
#BBBLB_POLL_RECOVER=

# Base load counted for each meeting.
# (default: 5.0; type: float)
#BBBLB_LOAD_BASE=

# Additional load counted for each user in a meeting.
# (default: 1.0; type: float)
#BBBLB_LOAD_USER=

# Additional load counted for each voice user in a meeting.
# (default: 0.5; type: float)
#BBBLB_LOAD_VOICE=

# Additional load counted for each video user in a meeting.
# (default: 0.5; type: float)
#BBBLB_LOAD_VIDEO=

# Additional load penalty for new meetings.
# New meetings are counted with a higher load until their actual
# load has stabilized to avoid uneven distribution during peak
# hours.
# The load penalty should roughly match the load of a 'typical'
# meeting on your cluster and will decrease over time based on
# meeting age. See LOAD_COOLDOWN.
# (default: 20.0; type: float)
#BBBLB_LOAD_PENALTY=

# Number of minutes after which new meetings are no longer impacted
# by LOAD_PENALTY. The applied penalty decreases linearly over time.
# (default: 30; type: float)
#BBBLB_LOAD_COOLDOWN=

# Maximum number of meetings or recordings to return from APIs that
# potentially return an unlimited amount of data.
# (default: 1000; type: int)
#BBBLB_MAX_ITEMS=

# Maximum body size for BBB API requests, both front-end and back-end.
# This does not affect presentation uploads, so 1MB should be plenty.
# (default: 1024 * 1024; type: int)
#BBBLB_MAX_BODY=

# How often to retry webhooks if the target fails to respond.
# (default: 3; type: int)
#BBBLB_WEBHOOK_RETRY=

# Enable debug and SQL logs
# (default: False; type: bool)
#BBBLB_DEBUG=

